:root {
	--screen-width: 960px;
	--screen-height: 640px;
	--animation-width: 512px;
	--inventory-ui-width: 138px;
}

@font-face {
	font-family: PressStart2P;
	src: url(./PressStart2P-Regular.ttf) format("opentype");
	font-display: block;
}

html {
	cursor: url(./img/cursor.png) 20 20, pointer;
}

body {
	font-family: 'PressStart2P', cursive;
	margin: 0px;
	overflow-y: hidden;
	background-color: #68071c;
	user-select: none;
}

img {
	image-rendering: pixelated;
}

p {
	padding: 3px 3px;
	margin: 0px;
	font-size: 10px;
	overflow-wrap: break-word;
	line-height: 13px;
}

div{
		margin: 0px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;

	width: var(--screen-width);
	height: var(--screen-height);
	background: #910523;
	border: 5px solid #910523;
}

.button, button {
	border: 5px solid #68071c;
	cursor: url(./img/cursor1.png) 20 20, pointer;
}


.animation-action {
	display: flex;
	padding: 0px;
	border: 0px;
	width: 64px;
	height: 64px;
	align-items: center;
	justify-content: center;
	background-color: #fdd89b;
	cursor: url(./img/cursor1.png) 20 20, pointer;

	& img {
		border: 5px solid #68071c;
		width: 64px;
		height: 64px;
	}
}

.speaker {
	display: flex;
	width: 256px;
	height: 256px;
}

.stats-window {
	display: flex;
	flex-direction: column;
	background-color: aqua;
	width: calc(var(--screen-width) - var(--inventory-ui-width));

	& p {
		word-break: break-word;
	}
}

.stats-info {
	display: flex;
}

.custom-info {
	height: 256px;
	width: -webkit-fill-available;
	background-color: magenta;
}

#game {
	border: 5px solid #910523;
	width: var(--screen-width);
	height: var(--screen-height);
}

#overworld-text-box {
	display: flex;
	width: var(--screen-width);
	height: var(--screen-height);
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;	
}

#npcs-image-box {
	display: flex;
	width: var(--screen-width);
	justify-content: space-around;
}

#speaker-1 {
	transform: scaleX(-1);
}

#speak-with-npc {
	height: 128px;
	width: 736px;
}

#animation-box {
	display: flex;
	width: var(--screen-width);
	height: var(--screen-height);
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#animation {
	position: absolute;
	z-index: 1;
	width: var(--animation-width);
	left: calc((var(--screen-width) / 2) - (var(--animation-width) / 2));
}

#interactive-elements {
	position: relative;
	z-index: 2;
	width: var(--animation-width);
	height: var(--animation-width);
}

#action-buttons {
	display: none;
	width: 512px;
	flex-direction: row;
	justify-content: space-evenly;
}

#speak-animation {
	display: none;
	height: 64px;
	width: 736px;	
}

#inventory {
	display: flex;
	flex-direction: row;
	width: var(--screen-width);
	height: var(--screen-height);
	gap: 0px;
}

#inventory-ui {
	width: var(--inventory-ui-width);
	height: var(--screen-height);
	background-color: orange;
}

#game, #overworld, #overworld-text-box, #animation-box, #pause-menu, #inventory, .radio {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
	background: #910523;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: #910523;
}
